<header-directive></header-directive>
<section class="main discover">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Welcome, {{adminCtrl.userName}}</h3>
				<button type="button" class="btn btn-primary dark pull-right" ng-click="adminCtrl.launchProductModal()">Add product</button>
			</div>
            <div class="col-xs-12">
            	<div class="table-responsive">
		            <table class="table table-striped">
			            <tr>
				            <th>
				            	Index
				            </th>
				            <th>
				            	Product Name
				            </th>
				            <th>
				            	Description
				            </th>
				            <th>
				            	Price
				            </th>
				            <th>
				            	Image
				            </th>
				            <th>
				            	Delete Item
				            </th>
				            <th>
				            	Modify
				            </th>	   
			            </tr>
		            	<tr ng-repeat="product in adminCtrl.productList track by $index">
		            		<td>{{$index+1}}</td>
		            		<td>{{product.Name}}</td>
		            		<td>{{product.Description}}</td>
		            		<td>&pound;{{product.Price}}</td>
		            		<td>{{product.Image}}</td>
		            		<td><a class="delete" href ng-click="adminCtrl.deleteProduct(product)">Delete</a></td>
		            		<td><a class="modify" href ng-click="adminCtrl.launchProductModal(product)">Modify</a></td>
		            	</tr>
		            </table>
		        </div>
	        </div>
		</div>
	</div>
</section> 
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
				<p>For info please write at <a href="mailto:francesco.greppi@gmail.com">francesco.greppi@gmail.com</a></p>
				<p>©2016 Francesco Greppi. All Rights Reserved.</p>
			</div>
		</div>
	</div>
</footer>