body {
    position: relative;
    min-height: 100%;
    background:$color-dark-bg;
}

a{
	img{
		&:hover{
			opacity:0.8;
		}
	}
}


// header
.custom-header{
	background:$color-dark-bg;
	margin-bottom:0px;
	min-height:70px;
	
	a{
		color:$color-font-light;
		font-size: 16px;
    	letter-spacing: 0.02em;

    	&.active{
		color:$color-font-redish;
		}
	}
	.navbar-right{
		margin-top:10px;
	}
	.nav>li>a{
		&:hover{
			background-color:transparent;
			color:$color-font-redish;
		}

		&:focus{
				background-color:transparent;
				outline:0;	
		}

	}

	.navbar-toggle .icon-bar {
		background-color:#fff;
	}
}

// sections
section{
	min-height: 100%;
	background:$color-white;

	&.main{
		padding: 50px 0 100px;
	}

	.table{
		margin-top:20px;

	}
	dl{
			dt{
				background: $color-light-grey;
				color: $color-dark-bg;
				padding:5px;
				&.first{
					background: $color-font-blue;
					color: $color-font-light;
				}
			}
			dd{
				padding:5px;
				a{ padding-right:20px;}
			}
		}

	a{
		&.delete{
			color:$color-font-redish;
			&:hover{
				color:$color-font-redish;
			}
		}
		&.modify{
			color:$color-font-blue;
			&:hover{
				color:$color-font-blue;
			}
		}
	}
}
// footer
footer {
   
   width:100%;
   height:120px;   /* Height of the footer */
   background:$color-dark-bg;
   padding:30px;

   p{	
   		color:$color-white;
   		font-size:12px;
   }

   a{
   		color:$color-white;
   		text-decoration: underline;
   		&:hover{
   			color:$color-white;
   		}
   }
}
