/* ---------------------
Generic var
---------------------- */

$default-images-directory: './images/';

/* ---------------------
Color Schemes
---------------------- */
$color-white: #fff;
$color-dark-bg: #202020;
$color-font-light: #fff;
$color-font-blue: #01419f;
$color-font-redish: #E00025;


/* ---------------------
Typography
---------------------- */

$font-Normal: 'Open Sans', sans-serif;
