/* ---------------------
Generic var
---------------------- */

$default-images-directory: './images/';

/* ---------------------
Color Schemes
---------------------- */
$color-white: #fff;
$color-dark-bg: #453734;
$color-font-light: #fff;
$color-font-yellow: #E8AF05;
$color-font-redish: #E00025;


/* ---------------------
Typography
---------------------- */

$font-Normal: 'Nunito', sans-serif;
